@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<div class="list-group">
    @if (Model.Movies.Count == 0)
    {
        <text>There are no movies available</text>
    }
    else
    {


        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Membership Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td> @Html.ActionLink(@movie.Name, "MovieDetails", new { id = movie.Id }, new { @class = "" })</td>
                        <td>@movie.Genre.GenreName</td>
                    </tr>
                }
            </tbody>

            @*<a href="#" class="list-group-item"> @customer.Name </a>*@


        </table>


        @*<a href="#" class="list-group-item"> @customer.Name </a>*@




    }
</div>



